
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="/css/addGame.css">
</head>
<body>
    <div class="addGameForm">
        <form action="addGame" method="POST" class="form-container">
            <label for="title" class="form-label">titre : </label>
            <input type="text" id="title" class="form-input">
            <label for="desc" class="form-label">description : </label>
            <input type="text" id="desc" class="form-input">
            <label for="category" class="form-label">catégorie : </label>
            <input type="text" id="category" class="form-input">
            <label for="editor" class="form-label">éditeur : </label>
            <input type="text" id="editor" class="form-input">
            <button type="submit" id="addGame" class="form-button">submit</button>
        </form>
    </div>
</body>
</html>