
<div class="addEditorForm" id="{{id}}">
    <form action="addEditor" method="POST" class="form-container">
        <label for="name" class="form-label">nom : </label>
        <input type="text" id="name" name="name" class="form-input" placeholder="{{name}}">   
        <button type="submit" id="addEditor" class="form-button">ajouter</button>
    </form>
</div>
