
<div class="addEditorForm" id="{{EditorId}}">
    <form action="addEditor" method="POST" class="form-container">
        <label for="title" class="form-label">nom : </label>
        <input type="text" id="title" class="form-input">   
        <button type="submit" id="addEditor" class="form-button">ajouter</button>
    </form>
</div>