<div class="container">
    <!-- Bouton pour ajouter un jeu -->
    <button class="form-button" onClick="window.location.href='/Editor/addEditor'">Ajouter un éditeur</button>
</div>

<!-- Liste des jeux -->
<div class="editor-list">
    {{#each Editor}}
        
        <div class="editor-card" id="{{id}}">
            <form method="POST" class="editor-actions">
                <h2 class="editor-title">{{name}}</h2>
                <input type="hidden" name="id" value="{{id}}"/>
                <a class="form-button details-button" href="/Editor/{{id}}">Détails</a>
                <button name="action" value="edit" class="form-button edit-button">Modifier</button>
                <button name="action" value="supp" class="form-button delete-button">Supprimer</button>
            </form>
        </div>
        
    {{/each}}
</div>
